<tr>
    <th><@MATRICULA_CLIENTE></th>
    <td><@NOME_CLIENTE></td>
    <td><@CPF_CLIENTE></td>
    <td><@PLANO_CLIENTE></td>
    <td><@STATUS_CLIENTE></td>
    <td><@PROXIMO_PAGAMENTO_CLIENTE></td>
</tr>