<thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">RG</th>
        <th scope="col">Atividades</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>