
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movimento Academia</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link href="assets/css/listagem.css" rel="stylesheet">
</head>
<body>   
    
    <@MENU>
    
    <div class="container mt-3">
        <h1>Clientes</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover ">
                <@HEADER_CLIENTES>
                <tbody>
                    <@ROWS_CLIENTES>
                </tbody>
            </table>
        </div>
    </div>
   
    <script src="/assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js" ></script>
</body>
</html>
